body {
    background-color: var(--cinza-escuro);
}

.cabecalho a{
    color: var(--azul-claro);
}

#btn-login {
    border: .2em solid var(--verde);
    color: var(--azul-claro);
}

#btn-login:hover {
    background-color: var(--verde);
    color: var(--azul-claro);
}

/* .container {
    position: relative;
    bottom: 8em;
} */

.container p {
    width: 80%;
    text-align: justify;
    text-indent: 2em;
}

hr {
    width: 40%;
    color: var(--azul-claro);
    margin-left: 20%;
}

.form {
    display: flex;
    width: 80%;
    gap: 10.3%;
    justify-content: center;
    align-items: center;
    position: relative;
    /* bottom: 7em; */

}

.dados {
    display: flex;
    flex-direction: column;
}

.dados input {
    width: 20em;
    color: var(--azul-claro);
    margin-bottom: 1em;
}

.mensagem {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 1.5em;
}

.mensagem textarea {
    border-radius: .5em;
    background-color: var(--cinza-50);
    border: .2em solid var(--azul-claro);
    margin-bottom: 1em;
    color: var(--azul-claro);
    padding: .5em;

    resize: none;
}

.mensagem #enviar {
    background-color: var(--verde);
    color: var(--azul-claro);
    padding: .6em 0;
    border: none;
    border-radius: 1em;
    width: 50%;
    align-self: flex-start;
    cursor: pointer;
}

.mensagem #enviar:hover {
    background-color: #4a6b49;
}

#mancha1 {
    position: relative;
    width: 20%;
    z-index: -1;
    top: 10em;
    left: 22em;
    
    transform: rotateX(190deg);
    
}

#mancha2 {
    position: relative;
    width: 20%;
    bottom: 18em;
    left: 35em;
    z-index: -1;
    
}

#ramo {
    position: relative;
    width: 13%;
    bottom: 36em;
    left: 18em;
    z-index: -1;
    
    transform: rotateY(180deg);
}

#mulher {
    position: relative;
    width: 50%;
    bottom: 56em;
    left: 48em;
}

/* Typical Device Breakpoints 
---------------------------------
    Pequenas telas: -- 600px
    Mobile: 600px à 768px
    Tablet: 769px à 992px
    Desktop: 992px à 1200px
    Grandes telas: 1200px à --
---------------------------------
*/

@media screen and (max-width: 500px) {
    
    #mancha2, #ramo, #mulher{
        display: none;
    }
    #mancha1 {
        position: relative;
        left: 11em;
        width: 30%;
    }

    .container h1 {
        position: absolute;
        top: 0;
    }

    .container p {
        position: relative;
        bottom: 3em;
    }
}