@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    /* Dark theme */
    --verde: #588157;
    --azul-claro: #F1FAEE;
    --cinza-escuro: #232323;
    --cinza-50: hsla(0, 0%, 14%, 0.494);

    /* Light theme */
    --marrom-claro: #c9c6be;
    --marrom-claro-50: #dad7cd7e;
    --verde-escuro: #344E41;
    --verde-claro: #a3b18b7e

}

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}

:focus {
    outline: none;
}

a {
    text-decoration: none;
}


body {
    padding: 1em;
    overflow: hidden;
}

/* main {
    height: 89vh;
} */

.cabecalho {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5em;
    font-size: .9em;
}


.cabecalho #logo {
    width: 2em;
}

#btn-login {
    background-color: transparent;
    color: var(--azul-claro);
    border: 2px solid var(--verde);
}

#btn-login:hover {
    background-color: var(--verde);
}

.navegacao {
    display: flex;
    gap: .4em;
    justify-content: center;
    align-items: center;
}

.conteudo {
    margin-top: 1em;
}

.container h1 {
    display: flex;
    justify-content: center;

    font-size: 3em;
}

.container p {
    text-align: justify;
    font-size: .8em;
    border-bottom: 1px solid var(--azul-claro);
    padding: 1em 0em;
    margin-bottom: .5em;
}

.linha {
    margin: .5em;
    color: var(--azul-claro);
    color: red;
}

.mensagem {
    margin-top: .5em;
}

.input-personalizado {
    display: flex;
    flex-direction: column;
    width: 20em;
    
    border-radius: .5em;
    /* border: 1px solid var(--azul-claro); */
    padding: .3em;
    background-color: transparent;
    
    color: var(--azul-claro);
}

.input-dados {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid var(--azul-claro);
}

#msg {
    resize: none;
    border: transparent;
    border: 1px solid var(--azul-claro);
    background-color: var(--cinza-50);
}



.botao {
    border-radius: .8em;
    border: transparent;
    padding: 0 1em;

    background-color: var(--verde);
    color: var(--azul-claro);
}

#enviar {
    margin: .5em 0 0 13em;
}

.img {
    position: relative;
    z-index: -1;
}

#mancha1 {
    bottom: 43em;
    left: 15em;
    width: 30%;
}

#mulher {
    width: 40%;
    bottom: 23em;
    left: 13em;
}

#mancha2 {
    width: 30%;
    bottom: 12em;
    right: 7.5em;
    transform: rotate(90deg);
}

#ramo {
    width: 25%;
    bottom: 24.5em;
    left: 3.5em;
}

/* Classes para manipular com JS */

/* Dark mode */
.dark {
    color: var(--azul-claro);
    background-color: var(--cinza-escuro);
}

.dark-header a {
    color: var(--azul-claro);
}

.dark-btn {
    color: var(--azul-claro);
}

.borda {
    border-color: var(--azul-claro);
}

/* Light mode */

.light {
    color: var(--verde-escuro);
    background-color: var(--marrom-claro);
}

.light-header a {
    color: var(--verde-escuro);
}

.light-btn {
    color: var(--verde-escuro);
}

@media screen and (min-width: 950px) {

    .cabecalho {
        gap: 5em;
    }
    .navegacao {
        gap: 5em;
    }
}